.postcontainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    gap:20px;
    overflow: hidden;

}
.post{
    display:flex;
    flex-direction: column;
    width:30%;    
    list-style-type: none;
    overflow: hidden;
}
.img{
    width:20%;
    overflow: hidden;

}


