$nav-background-color: black;
$primary-text-color: white;
$secondary-text-color:  grey;
$primary-color:blue;
$secondary-color:green;

$header-height:40px;
$footer-height:40px;


@mixin flex($justify:center,$align:center,$direction:row){
    display:flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction:$direction;
}

@mixin scrollstyle{
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display:none;
    }
}
@mixin scroll-snap{
    scroll-snap-type: y mandatory;
}

@mixin scroll-snap-item{
    scroll-snap-align: start;
}
