@import "reset";
@import "global";

.users {
  padding:60px;
}
.usercontainer {
  @include flex(center,center);
  flex-wrap: wrap;
  width: 100%;
  gap:20px;
}

.user {
  @include flex(flex-start,center);
  flex-direction: column;
  gap: 3px;
  min-width:30%;
  max-width:60%;
}

.profileimage {
    width: 40%;
    border:2px solid lightblue;
    border-style: inset;
    border-radius: 50%;
  }
  .name {
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
  }

  .username {
    color: white;
    font-size: 10px;
    font-weight: 300;
    margin-top: 0px;
  }
